@model UserLogon
@{ 
    ViewData["Title"] = "Delete User";
}
<h1 class="display-4">Delete User</h1>
<ul class="list-group mb-2">
    <li class="list-group-item">
        @Model.Fullname
    </li>
</ul> 
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="UserLogonId" />
    <button type="submit" class="btn btn-dark">Delete</button>
    <a asp-action="Index" asp-controller="User" class="btn btn-outline-dark">Cancel</a>
</form>
