@model Shifts

@{
    ViewData["Title"] = $"{ViewBag.Operation} Shifts";
}

<h1 class="display-4">@ViewBag.Operation Schedule</h1>

<form asp-action="Add" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="StartingHour"></label>
        <input asp-for="StartingHour" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="EndingHour"></label>
        <input asp-for="EndingHour" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="User"></label>
        <select asp-for="User" class="form-control"
                asp-items="@(new SelectList(ViewBag.Users,"UserLogonId","Fullname"))"></select>
    </div>
    <div class="form-group">
        <label asp-for="Days"></label>
        <select asp-for="DaysId" class="form-control"
                asp-items="@(new SelectList(ViewBag.Days,"DaysId","Name"))"></select>
    </div>

    @if (ViewBag.Operation == "Edit")
    {
        <input type="hidden" asp-for="ShiftsID" />
    }

    <button type="submit" class="btn btn-dark">@ViewBag.Operation</button>
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-dark">Cancel</a>
</form>
